.flex-container-nav {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    /* border-style: dotted;
    border-color: red; */
}
.flex-item {
    flex-grow: 1;
    /* border-style: dotted;
    border-color: red; */
}
.flex-item:nth-child(2) {
    border-color: blue;
    display: flex;
    justify-content: flex-end;
}
.flex-container-cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-bottom: 2%;
    /* border-style: dotted;
    border-color: red; */
}
